---
layout: default
permalink: /tags
---
                {% capture site_tags %}{% for tag in site.tags %}{{ tag | first | downcase }}#{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
                {% assign tag_hashes = site_tags | split:',' | sort %}
                <!-- blog -->
                <div class="blog">
                    <ul>
                        {% for hash in tag_hashes %}
                        {% assign keyValue = hash | split: '#' %}
                        {% capture tag_word %}{{ keyValue[1] | strip_newlines }}{% endcapture %}
                        <li>
                            <a href="/tag/{{ tag_word }}"
                               class="button button-outlined button-large">
                                {{ tag_word }} ({{ site.tags[tag_word].size }}) <i class="fa fa-chevron-right"></i>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!--/blog -->
