{% assign articles = 0 %}
{% for countPost in site.posts %}
    {% if countPost.author == page.identifier %}
        {% assign articles = articles | plus: 1 %}
    {% endif %}
{% endfor %}
{% if articles > 1 %}
    {% assign articles = articles | append: ' articles' %}
{% else %}
    {% assign articles = articles | append: ' article' %}
{% endif %}
                <!-- author info -->
                <div class="author-info">
                    <div class="clearfix">
                        {% if page.photo %}
                        <img src="{{ page.photo }}" alt="{{ page.name }}">
                        {% else %}
                        <img src="pic/authors/page-1.jpg" alt="{{ page.name }}">
                        {% endif %}
                        <div class="text">
                            <h2><a href="{{ page.url }}">{{ page.name }}</a></h2>
                            <h4>{{ articles }}</h4>
                            <p>
                                {{ page.content }}
                            </p>
                            <div class="cross"></div>
                            <div class="social-button">
                                {% if page.twitter %}<a href="https://twitter.com/{{ page.twitter }}" class="social">
                                    <i class="fa fa-twitter"></i>
                                </a>{% endif %}
                                {% if page.facebook %}<a href="{{ page.facebook }}" class="social">
                                    <i class="fa fa-facebook"></i>
                                </a>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ author info -->
