{% assign urlArray = page.url | split: '/' %}
    <!-- page header top -->
    <header class="page-header-top">
        <div class="grid-row">
            <!-- main nav -->
            <nav id="main-nav" class="main-nav">
                <a href="#" class="switcher">Menu<i class="fa fa-bars"></i></a>
                <ul>
                    <li><a href="/"{% if '/' == page.url %} class="active"{% endif %}><span>01.</span> Home</a></li>
                    <li><a href="/category/news"{% if 'news' == urlArray[2] %} class="active"{% endif %}><span>02.</span> News</a></li>
                    <li><a href="/category/current"{% if 'opinion' == urlArray[2] %} class="active"{% endif %}><span>03.</span> Current</a></li>
                    <li>
                        <a href="#"><span>04.</span> Pages</a>
                        <ul>
                            <li><a href="/tags">Tags</a></li>
                            <li><a href="/about">About</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span>05.</span> Archives</a>
                        <ul>
                            {% for post in site.posts | sort: date %}
                            {% if post.next %}
                            {% capture next_year %}{{ post.next.date | date: '%Y' }}{% endcapture %}
                            {% endif %}

                            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}

                            {% if year != next_year %}
                            <li>
                                <a href="/{{ post.date | date: '%Y' }}">
                                    {{ post.date | date: '%Y' }}
                                </a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="/contact"{% if 'contact' == urlArray[1] %} class="active"{% endif %}><span>05.</span> Contact</a></li>
                </ul>
            </nav>
            <!--/ main nav -->

            <!-- follow us -->
            <div class="follow-us">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="{{ site.social.facebook }}"><i class="fa fa-facebook"></i></a>
                <a href="/feed.xml"><i class="fa fa-rss"></i></a>
            </div>
            <!--/ follow us -->

            <!-- search -->
            <form action="#" id="search" class="search">
                <div class="input"><input type="text"></div>
                <button type="submit"><i class="fa fa-search"></i></button>
                <a href="#" class="opener"><i class="fa fa-search"></i></a>
                <a href="#" class="closer"><i class="fa fa-times"></i></a>
            </form>
            <!--/ search -->
        </div>
    </header>
    <!--/ page header top -->

