    <!-- page header bottom -->
    <header class="page-header-bottom">
        <div class="grid-row">
            <!-- logo -->
            <a href="/" class="logo">
                {{ site.name }}
            </a>
            <div>
                <em>
                    We hold these truths to be self-evident, that all men are
                    created equal, that they are endowed by their Creator with
                    certain unalienable Rights, that among these are
                    Life, Liberty and the pursuit of Happiness.
                </em>
            </div>
            <!--/ logo -->
        </div>
    </header>
    <!--/ page header bottom -->
