                {% if paginator.total_pages > 1 %}
                <!-- pagination -->
                <div class="pagination">
                    <a href="{% if paginator.previous_page %}{{ paginator.previous_page_path | relative_url }}{% else %}#{% endif %}" class="active">
                        Previous
                    </a>
                    {% for page in (1..paginator.total_pages) %}
                        {% if page == paginator.page %}
                    <a href="#" class="active">{{ page }}</a>
                        {% elsif page == 1 %}
                    <a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
                        {% else %}
                    <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
                        {% endif %}
                    {% endfor %}
                    <a href="{% if paginator.next_page %}{{ paginator.next_page_path | relative_url }}{% else %}#{% endif %}" class="active">
                        Next
                    </a>
                </div>
                {% endif %}
                <!--/ pagination -->
