                {% if paginator.total_pages > 1 %}
                <!-- pagination -->
                <div class="pagination">
                    {% if paginator.total_pages > 1 %}
                        {% if paginator.first_page %}
                    <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}">
                        First
                    </a>
                        {% endif %}

                        {% if paginator.page_trail %}
                        {% for trail in paginator.page_trail %}
                    <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}" title="{{trail.title}}">
                        {{ trail.num }}
                    </a>
                        {% endfor %}
                        {% endif %}

                        {% if paginator.last_page %}
                    <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}">
                        Last
                    </a>
                        {% endif %}
                    {% endif %}
                </div>
                {% endif %}
                <!--/ pagination -->
