                        <!-- item footer -->
                        <div class="item-footer">
                            <span>share on:</span>
                            <a target="_blank"
                               class="social"
                               href="https://twitter.com/intent/tweet?text={{ post.title }}&url={{ post.url | absolute_url }}"
                               onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a target="_blank"
                               class="social"
                               href="https://facebook.com/sharer.php?u={{ post.url | absolute_url }}"
                               onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
                                <i class="fa fa-facebook"></i>
                            </a>

                            <span><i class="fa fa-user"></i>by {{ author.name }}</span>
                            <span>{{ post.date | date: "%Y-%m-%d" }}</span>

                            <a href="{{ post.url }}" class="button button-small">
                                read more<i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--/item footer -->
