{% for item in site.authors %}
{% if post.author == item.identifier %}
{% assign author = item %}
{% endif %}
{% endfor %}
                <!-- post -->
                <div class="item">
                    <div class="clearfix">
                        <!-- blog item header -->
                        <div class="item-header">
                            <h2>
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </h2>
                        </div>
                        <!--/blog item header -->
                        {% include post_share.html %}
                    </div>
                </div>
                <!--/post -->
