{% assign num_words = post.content | strip_html | number_of_words %}
{% assign minutes   = num_words    | divided_by: 200 %}
{% assign minutes   = num_words    | divided_by: 200.0 %}
{% assign minutes_f = num_words    | divided_by: 200.0 %}
{% assign minutes_i = num_words    | divided_by: 200 %}
{% assign diff      = minutes_f    | minus: minutes_i %}
{% if diff >= 0.5 %}
    {% assign minutes = minutes_i | plus: 1 %}
{% else %}
    {% assign minutes = minutes_i %}
{% endif %}

{% if minutes <= 1 %}
    {% assign reading_time = '1' | append: ' minute' %}
{% else %}
    {% assign reading_time = minutes | append: ' minutes' %}
{% endif %}
{% for item in site.authors %}
{% if post.author == item.identifier %}
{% assign author = item %}
{% endif %}
{% endfor %}
                <!-- post -->
                <div class="item" itemscope="" itemtype="http://schema.org/BlogPosting">
                    <meta itemprop="keywords" content="{{ post.tags | join: ',' }}" />
                    <meta itemprop="description"
                          content="{{ content | strip_html | truncatewords: 40 }}" />
                    <div class="clearfix">
                        {% if post.image %}
                        <div class="media-block">
                            <div class="picture">
                                <img src="{{ post.image }}-/preview/370x285/" alt="{{ post.title }}">
                            </div>
                        </div>
                        {% endif %}
                        <!-- blog item header -->
                        <div class="item-header">
                            <h2 itemprop="name">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </h2>
                            <div class="post-info">
                                <span>
                                    <i class="fa fa-user"></i>by
                                    <a href="/authors/{{ author.identifier }}">{{ author.name }}</a>
                                </span>
                                <span itemprop="datePublished" datetime="{{ post.date | date: '%Y-%m-%d' }}">
                                    {{ post.date | date: "%Y-%m-%d" }}
                                </span>
                                <span>
                                    {{ reading_time }}
                                </span>
                                <!--<span><i class="fa fa-comment"></i>2 Comments</span>-->
                            </div>
                        </div>
                        <!--/blog item header -->
                        <!-- content -->
                        <div class="content composer text" itemprop="articleBody">
                            <p>{{ post.excerpt }}</p>
                        </div>
                        <!--/content-->
                        <span class="tag-links">
                        {% for tag in post.tags %}
                            <a href="/tag/{{ tag | slugify }}">{{ tag }}</a>
                        {% endfor %}
                        </span>
                        {% include post_share.html %}
                    </div>
                </div>
                <!--/post -->
