                <!-- widget authors -->
                <div class="widget widget-authors">
                    <div class="head"><span>Our Authors</span></div>
                    <div id="widget-authors">
                        <div class="item">
                            <ul>
                                <li><a href="#"><img src="/pic/widget-authors/item-1.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/pic/widget-authors/item-2.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/pic/widget-authors/item-3.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/pic/widget-authors/item-4.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/pic/widget-authors/item-5.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/pic/widget-authors/item-6.jpg" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="item">
                            <ul>
                                <li><a href="#"><img src="/pic/widget-authors/item-6.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/pic/widget-authors/item-4.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/pic/widget-authors/item-2.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/pic/widget-authors/item-5.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/pic/widget-authors/item-3.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/pic/widget-authors/item-1.jpg" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="item">
                            <ul>
                                <li><a href="#"><img src="/pic/widget-authors/item-3.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/pic/widget-authors/item-6.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/pic/widget-authors/item-1.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/pic/widget-authors/item-4.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/pic/widget-authors/item-2.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/pic/widget-authors/item-5.jpg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/ widget authors -->
