                <div class="widget widget-categories">
                    <ul>
                        <li><a href="{{ site.social.twitter }}"><i class="fa fa-twitter"></i>{{ site.social.tw_followers }} followers</a></li>
                        <li><a href="{{ site.social.facebook }}"><i class="fa fa-facebook"></i>{{ site.social.fb_likes }} likes</a></li>
                    </ul>
                    <dl class="toggles">
                        <dt><span><i class="fa fa-angle-down"></i></span>Categories</dt>
                        <dd>
                            <ul>
                                {% for category in site.categories %}
                                <li>
                                    <a href="/category/{{ category | first | downcase | slugify }}">
                                        <i class="fa fa-angle-right"></i>{{ category | first }}
                                        <span>{{ category | last | size }}</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </dd>
                        <dt><span><i class="fa fa-angle-down"></i></span>Tags</dt>
                        <dd>
                            <ul>
                                {% for tag in site.tags %}
                                <li>
                                    <a href="/tag/{{ tag | first | downcase | slugify }}">
                                        <i class="fa fa-angle-right"></i>{{ tag | first }}
                                        <span>{{ tag | last | size }}</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </dd>
                        <dt><span><i class="fa fa-angle-down"></i></span>Archive</dt>
                        <dd>
                            <ul>
                                {% for post in site.posts | sort: date %}
                                    {% if post.next %}
                                        {% capture next_year %}{{ post.next.date | date: '%Y' }}{% endcapture %}
                                        {% capture next_month %}{{ post.next.date | date: '%B' }}{% endcapture %}
                                    {% endif %}
                                    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
                                    {% capture month %}{{ post.date | date: '%B' }}{% endcapture %}
                                    {% if year != next_year or month != next_month %}
                                <li>
                                    <a href="/{{ post.date | date: '%Y' }}/{{ post.date | date: '%m' }}">
                                        <i class="fa fa-angle-right"></i>{{ post.date | date: '%Y %B' }}
                                    </a>
                                </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </dd>
                    </dl>
                </div>
                <!-- / widget archive -->
