<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<div class="page">
    {% include header_top.html %}
    {% include header_bottom.html %}
    {% include breadcrumbs.html %}

    <!-- page content -->
    <div class="page-content">
        <div class="grid-row composer">
            <div class="grid-col grid-col-8">
                {{ content }}
                {% include paginator.html %}
            </div>

            <div class="grid-col grid-col-4">
                {% include widgets/meta.html %}
<!--                { include widgets/authors.html }-->
            </div>
        </div>
    </div>
    <!--/ page content -->

    {% include footer.html %}

    <a href="#" id="scroll-top" class="scroll-top"><i class="fa fa-angle-up"></i></a>
    <!-- open or close menu -->
    <div id="open_or_close_menu"></div>
</div>

{% include footer_js.html %}

</body>
</html>
