---
layout: default
---
    <article>
        <div class="article-meta">
            <div class="categories">
                {% for category in page.categories %}
                <a href="/categories/{{ category }}">{{ category }}</a>
                {% endfor %}
            </div>
            <h1><span class="title">{{ page.title }}</span></h1>
            <p>{% for tag in page.tags %}<a href="/tags/{{ tag }}">{{ tag }}</a> {% endfor %}</p>
        </div>

        <main>
            {{ page.content }}
        </main>
    </article>
